<div class="d-flex justify-content-center">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="color: #FFFFFF;" class="btn btn-primary d-flex justify-content-center">{{ button_label|default('Ajouter ce projet') }}</button>
{{ form_end(form) }}
</div>