{% extends 'base.html.twig' %}

{% block title %}Éditer un Projet{% endblock %}

{% block body %}
    <h1>Éditer un <span style="color: #F78F96;">Projet</span></h1>
    {{ include('projet/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('home') }}#projects" class="d-flex justify-content-center"><button class="btn btn-primary">Retour à la liste</button></a>

    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
